<ion-header no-border>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button style="color: azure" defaultHref="/"></ion-back-button>
      </ion-buttons>
  
    <ion-title class="ion-text-capitalize">INFO GASTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loading">
  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="/assets/carga2-127.gif">
      </ion-col>
    </ion-row>
  </ion-slide>
</ion-content>

<ion-content *ngIf="!loading" padding >
  <form (ngSubmit)="register( fRegistro )" #fRegistro="ngForm">
    <ion-list style="width: 100%">
      <ion-item style="width: 100%">
        <ion-label stacked>Tipo Gasto</ion-label>
        <br>
        <ion-select placeholder="Tipo de Gasto" name="expense_type" [(ngModel)]="expense.expense_type" style="width: 100%; align-content: center" required>
          <ion-select-option *ngIf="showAllTypes" value="Almuerzo">Almuerzo</ion-select-option>
          <ion-select-option *ngIf="showAllTypes" value="Gasolina">Gasolina</ion-select-option>
          <ion-select-option value="Alquiler">Alquiler</ion-select-option>
          <ion-select-option value="Repuestos moto">Repuestos moto</ion-select-option>
          <ion-select-option value="Reparacion moto">Reparacion moto</ion-select-option>
          <ion-select-option value="Materiales E Insumos">Materiales E Insumos</ion-select-option>
          <ion-select-option value="Nómina">Nómina</ion-select-option>
          <ion-select-option value="Contratos">Contratos</ion-select-option>
          <ion-select-option value="Viáticos">Viáticos</ion-select-option>
          <ion-select-option value="Prestamos">Prestamos</ion-select-option>
          <ion-select-option value="Compra Muebles x Mayor">Compra Muebles x Mayor</ion-select-option>
          <ion-select-option value="Impuestos">Impuestos</ion-select-option>
          <ion-select-option value="Otros">Otros</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item style="width: 100%">
        <ion-label stacked>Cartera</ion-label>
        <ionic-selectable style="width: 100%; align-content: center"
          name="wallet"
          [(ngModel)]="selectedWallet"
          [items]="wallets"
          itemValueField="wallet_id"
          placeholder="Cartera"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="walletChange($event)"
          required>

        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label stacked>Valor</ion-label>
        <br>
        <ion-input style="text-align: right"
          name="value"
          type="number"
          [(ngModel)]="expenseValue"
          placeholder="Valor" 
          (ionFocus)="focus($event)"
          (ionBlur)="focusOut($event)"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Fec Gasto</ion-label>
        <ion-datetime style="text-align: right"
          name="expense_date"
          display-timezone="utc"
          [(ngModel)]="expense.expense_date" 
          required>
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked>Justificación</ion-label>
        <br>
        <ion-textarea style="text-align: right"
          name="justification"
          type="text" 
          placeholder="Justificación" 
          [(ngModel)]="expense.justification">
        </ion-textarea>
      </ion-item>
      <div padding>
        <ion-button color="medium" type="submit" size="large" expand="block">Guardar</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
