<ion-header no-border>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button style="color: azure" defaultHref="/"></ion-back-button>
      </ion-buttons>
  
    <ion-title class="ion-text-capitalize">CREAR USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loading">
  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="/assets/carga2-127.gif">
      </ion-col>
    </ion-row>
  </ion-slide>
</ion-content>

<ion-content *ngIf="!loading">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
          <h3 style="text-align: center;"></h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-slides [options]="avatarSlide">
          <ion-slide *ngFor="let avatar of avatars">
              <ion-img class="pick-avatar" 
                      src="/assets/avatars/{{ avatar.img }}"
                      [ngClass]="{ 'pick-avatar-seleccionado': avatar.seleccionado }"
                      (click)="selectAvatar( avatar )"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    
    <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">
        <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input name="email" 
                            type="email"
                            [(ngModel)]="registerUser.email"
                            required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Username</ion-label>
                  <ion-input name="username"
                            type="text"
                            [(ngModel)]="registerUser.username"
                            required></ion-input>
                </ion-item>
                    
                <ion-item>
                  <ion-label>Nombre</ion-label>
                  <ion-input name="nombre"
                            type="text"
                            [(ngModel)]="registerUser.name"
                            required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Apellido</ion-label>
                  <ion-input name="lastname"
                            type="text"
                            [(ngModel)]="registerUser.last_name"
                            required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Celular</ion-label>
                  <ion-input name="cellphone"
                            type="text"
                            [(ngModel)]="registerUser.cellphone"
                            required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Perfil</ion-label>
                  <ion-select placeholder="Perfil         " name="profile" [(ngModel)]="registerUser.user_profile_id" style="width: 100%; align-content: center" required>
                    <ion-select-option value="1">Administrador</ion-select-option>
                    <ion-select-option value="2">Vendedor</ion-select-option>
                    <ion-select-option value="3">Cobrador</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label>Carteras</ion-label>
                  <ionic-selectable style="align-content: center"
                    name="wallet"
                    [(ngModel)]="selectedWallet"
                    [items]="wallets"
                    itemValueField="wallet_id"
                    itemTextField="name"
                    [canSearch]="true"
                    [isMultiple]="true"
                    (onChange)="walletChange($event)">
          
                  </ionic-selectable>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input name="password"
                            type="password"
                            [(ngModel)]="registerUser.password"
                            required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Confirmar Password</ion-label>
                  <ion-input name="password_confirm"
                            type="password"
                            [(ngModel)]="password_confirm"
                            required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
        </ion-row>
        
        <div padding>
          <ion-button color="medium" type="submit" size="large" expand="block">Crear usuario</ion-button>
        </div>
    </form>
  </ion-grid>
</ion-content>
