<ion-header no-border>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu"></ion-back-button>
      </ion-buttons>
  
    <ion-title class="ion-text-capitalize">DETALLES DE ABONO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loading" color="light">
  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="/assets/carga2-127.gif">
      </ion-col>
    </ion-row>
  </ion-slide>
</ion-content>

<ion-content *ngIf="!loading" padding>
  <form>
    <ion-list>
      <ion-item>
        <ion-label stacked>ID</ion-label>
        <br>
        <ion-input style="text-align: right"
          name="payment_id"
          type="text" 
          readonly=true
          placeholder="id" 
          [(ngModel)]="payment.payment_id"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Valor</ion-label>
        <br>
        <ion-input
          style="text-align: right"
          name="value"
          type="text"
          readonly=true
          placeholder="Descuento" 
          [(ngModel)]="payment.value"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Usuario</ion-label>
        <br>
        <ion-input style="text-align: right"
          name="username"
          type="text" 
          readonly=true
          placeholder="user" 
          [(ngModel)]="payment.username"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Fecha</ion-label>
        <br>
        <ion-input style="text-align: right"
          name="created_at"
          type="text" 
          readonly=true
          placeholder="created at" 
          [(ngModel)]="payment.created_at"
          required>
        </ion-input>
      </ion-item>
    </ion-list>
    <div>
      <ion-button color="danger" *ngIf="showCancelButton" (click)="cancelPayment()" size="large" expand="block">Cancelar Abono</ion-button>
    </div>
  </form>
  </ion-content>
