<ion-header no-border>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu"></ion-back-button>
      </ion-buttons>
  
    <ion-title class="ion-text-capitalize">HISTORIAL LIQUIDACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let c of cashControls" (click)="getDetail(c)">
      <ion-item>
        <ion-label>
          <h2 style="padding-left: 3%; padding-bottom: 2%; font-size: 22px; color: #407785">
            <strong style="font-size: 70%;">{{ c.period }}</strong>
            <strong style="width: 100%; position: absolute; right: 5%; text-align: right">
              <b>{{ c.cash }}</b>
            </strong>                   
          </h2>
          <h3 style="text-align: right; font-size: 80%;">Señas: {{ c.down_payments }} &nbsp;-&nbsp;Comisión: {{ c.commission }} &nbsp;-&nbsp; Gastos: {{ c.expenses }} </h3>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>