<ion-header no-border>
  <ion-toolbar color="medium" >
      <ion-buttons slot="start" >
        <ion-icon slot="icon-only" name="flame"></ion-icon>
      </ion-buttons>
    
      <ion-title style="width: 100%; ">
        <b style="text-align: left;">MENÚ</b>
        <!--b style="text-align: right;font-size: 60%;"> ( DARWIN - ADMINISTRADOR ) </b-->
      </ion-title>
      <ion-title style="position: absolute;width: 90%; font-size: 70%; text-align: right;"><b style="text-align: right;">{{ username }} - {{ userProfile }}</b></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" detail>
        <ion-icon slot="start" [name]="c.icon"></ion-icon>
        <ion-label>{{ c.name }}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
