ion-card {
    margin: 16px;
    box-shadow: 0 2px 10px -5px rgba(0,0,0,0.3);
}

ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

ion-card-subtitle {
    margin-top: 5px;
    color: var(--ion-color-medium);
}

