<ion-header no-border>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  
    <ion-title class="ion-text-capitalize">COBROS POR FECHA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="sendDate( fRegistro )" #fRegistro="ngForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>Fecha</ion-label>
        <ion-datetime style="text-align: right"
          name="date"
          display-timezone="utc"
          min="2021-01-01"
          locale="es-AR"
          [(ngModel)]="date"
          required>
        </ion-datetime>
      </ion-item>
    
      <div padding>
        <ion-button color="medium" type="submit" size="medium" expand="block">Cobros Por Fecha</ion-button>
        <ion-button color="medium" (click)="showExpiredServices()" size="medium" expand="block">Cuotas Vencidas</ion-button>
        <ion-button color="medium" (click)="showAll()" size="medium" expand="block">Ver Todo</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
