<ion-header no-border>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button style="color: azure" defaultHref="/"></ion-back-button>
      </ion-buttons>
  
    <ion-title class="ion-text-capitalize">INFO PRODUCTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loading" color="light">
  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="/assets/carga2-127.gif">
      </ion-col>
    </ion-row>
  </ion-slide>
</ion-content>

<ion-content *ngIf="!loading" padding>
  <form (ngSubmit)="register( fRegistro )" #fRegistro="ngForm" style="width: 100%">
    <ion-list style="width: 100%">
      <ion-item>
        <ion-label stacked><b>Producto</b></ion-label>
        <ion-label stacked></ion-label>
        <br>
        <ion-input 
          style="text-align: right"
          name="name"
          type="text" 
          placeholder="Nombre" 
          [(ngModel)]="product.name"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked><b>Descripción</b></ion-label>
        <ion-label stacked></ion-label>
        <br>
        <ion-input
          style="text-align: right"
          name="description"
          type="text" 
          placeholder="Descripción" 
          [(ngModel)]="product.description">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked><b>Valor</b></ion-label>
        <ion-label stacked></ion-label>
        <br>
        <ion-input 
          style="text-align: right"
          name="value"
          type="text" 
          placeholder="Valor en pesos" 
          [value]="formatCurrency(productValue)"
          (ionInput)="onValueInput($event)"
          (ionFocus)="onValueFocus($event)"
          (ionBlur)="onValueBlur($event)"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked><b>Costo</b></ion-label>
        <ion-label stacked></ion-label>
        <br>
        <ion-input
          style="text-align: right"
          name="cost"
          type="text" 
          placeholder="Costo en pesos" 
          [value]="formatCurrency(productCost)"
          (ionInput)="onCostInput($event)"
          (ionFocus)="onCostFocus($event)"
          (ionBlur)="onCostBlur($event)">
        </ion-input>
      </ion-item>

    </ion-list>
    
    <!-- Información sobre cantidad inicial -->
    <ion-item color="light" *ngIf="!isUpdate">
      <ion-label>
        <p><strong>Nota:</strong> Los productos nuevos se crean con cantidad inicial 0. 
        Para agregar stock, use la funcionalidad "Gestión de Inventario".</p>
      </ion-label>
    </ion-item>

    <div padding>
      <ion-button color="medium" type="submit" size="large" expand="block">Guardar</ion-button>
    </div>
  </form>
</ion-content>
