<ion-header no-border>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu"></ion-back-button>
      </ion-buttons>
  
    <ion-title class="ion-text-capitalize">REGISTRAR PAGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loading" color="light">
  <ion-slide>
    <ion-row>
      <ion-col>
        <img src="/assets/carga2-127.gif">
      </ion-col>
    </ion-row>
  </ion-slide>
</ion-content>

<ion-content *ngIf="!loading" padding>
  <form (ngSubmit)="register( fRegistro )" #fRegistro="ngForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>Valor Productos</ion-label>
        <br>
        <ion-input style="text-align: right"
          name="value"
          type="text" 
          readonly=true
          placeholder="Valor" 
          [(ngModel)]="service.service_value"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Descuento</ion-label>
        <br>
        <ion-input
          style="text-align: right"
          name="discount"
          type="text"
          readonly=true
          placeholder="Descuento" 
          [(ngModel)]="service.discount"
          min = "0"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Cuota Inicial</ion-label>
        <br>
        <ion-input style="text-align: right"
          name="initial"
          type="text" 
          readonly=true
          placeholder="Cuota Inicial" 
          [(ngModel)]="service.down_payment"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Total</ion-label>
        <br>
        <ion-input style="text-align: right"
          name="total"
          type="text" 
          readonly=true
          placeholder="Valor total" 
          [(ngModel)]="service.total_value"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Resta</ion-label>
        <ion-input style="text-align: right"
          name="debt"
          type="text" 
          readonly=true
          placeholder="Resta" 
          [(ngModel)]="service.debt"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Valor por cuota</ion-label>
        <ion-input style="text-align: right"
          name="fee_value"
          type="text" 
          readonly=true
          placeholder="Resta" 
          [(ngModel)]="service.fee_value"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Cuotas Pendientes</ion-label>
        <ion-input style="text-align: right"
          name="pending_fees"
          type="number"
          readonly=true
          placeholder="Coutas Pendientes"
          [(ngModel)]="service.pending_fees"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <b><ion-label stacked>Cuotas Total</ion-label></b>
        <ion-input style="text-align: right"
          name="quantity_of_fees"
          type="number"
          placeholder="Cant Cuotas"
          (ionBlur)="feeChanges($event)"
          (ionFocus)="focusFeeChanges($event)"
          [(ngModel)]="quantity_of_fees"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
          <b><ion-label stacked>Pago cuota</ion-label></b>
          <ion-input style="text-align: right"
            name="payment_value"
            type="number"
            placeholder="Abono" 
            [(ngModel)]="registerPaymentInput.value"
            (ionFocus)="focus($event)"
            (ionBlur)="focusOut($event)"
            required>
          </ion-input>
        </ion-item>
        <ion-item>
          <b><ion-label stacked>Próx Pago</ion-label></b>
          <ion-datetime style="text-align: right"
            name="next_payment_date"
            display-timezone="utc"
            [min]="minDate" 
            [max]="maxDate"
            [(ngModel)]="registerPayment.next_payment_date"
            required>
          </ion-datetime>
        </ion-item>
    </ion-list>
    <div>
      <ion-button color="medium" *ngIf="showAbonarButton" type="submit" size="large" expand="block">Abonar</ion-button>
      <ion-button color="medium" [disabled]="isDisabled" (click)="updateService()" size="large" expand="block">Actualizar Cuotas</ion-button>
      <ion-button color="medium" (click)="showDetail()" size="large" expand="block">Ver Detalle</ion-button>
      <ion-button color="medium" (click)="showPayments()" size="large" expand="block">Historial Abonos</ion-button>
      <ion-button color="danger" *ngIf="showCancelButton" (click)="cancelService()" size="large" expand="block">Cancelar Cuenta</ion-button>
    </div>
  </form>
  </ion-content>
