.head { 
    background-color: azure
}

.service {
    margin-top: 5px;
    
    -webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 3px 4px 10px -5px rgba(0,0,0,0.5);
}

.tg  {border-collapse:collapse;border-spacing:0;border:none;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:4px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:4px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-lm6i{font-weight:bold;font-size:11px;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-wkff{font-weight:bold;font-size:11px;font-family:"Arial Black", Gadget, sans-serif !important;;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-j506{font-weight:bold;font-size:11px;font-family:"Arial Black", Gadget, sans-serif !important;;border-color:inherit;text-align:right;vertical-align:top}
.tg .tg-qr91{font-weight:bold;font-size:21px;font-family:"Arial Black", Gadget, sans-serif !important;;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-9o8p{font-weight:bold;font-style:italic;font-size:21px;color:#010066;border-color:inherit;text-align:right;vertical-align:top}
.tg .tg-55yk{font-weight:bold;font-style:italic;font-size:21px;font-family:"Arial Black", Gadget, sans-serif !important;;color:#010066;border-color:inherit;text-align:right;vertical-align:top}